### Neural Network: Entrenamiento y evaluacion del modelo

Using the Titanic dataset from [this](https://www.kaggle.com/c/titanic/overview) Kaggle competition.

## Instalando librerias si es que no estan instaladas

In [104]:
#!pip install joblib
#!pip install pandas
#!pip install sklearn

## Cargando librerias que YA fueron instaladas

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn import metrics
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=FutureWarning) # para evitar wanrning que complican ver los resultados
warnings.filterwarnings('ignore', category=DeprecationWarning) # para evitar wanrning que complican ver los resultados
print("ready")

ready

# Preparando la data para el analisis

#### Paso 1: Importantmos la data

In [2]:
mydata = pd.read_csv("heart.csv") # comando para subir la data
mydata.head(4) # comando para visualizar la data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

In [3]:
#mydata.info() # revisamos si hay valores perdidos

#### Paso 2: Separamos variables dependientes (y) de variables independientes (x)

In [4]:
var_dep = mydata["target"] # cogemos la columna de nombre insuranceclaim
var_ind = mydata.drop("target",axis=1) # cogemos TODAS las columnas menos la que dice insuranceclaim (drop)
var_ind.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2

#### Paso 3: Dividimos la data en data de entrenamiento y data de testeo

In [5]:
# Cuando se hace machine learning, siempre se divide la data en data de entrenamiento y data de testeo
x_train_temp, x_test_temp, y_train, y_test = train_test_split(var_ind, var_dep, test_size=0.25, random_state=0)
print("ready")

ready

#### Paso 4: Normalizamos la data  (warning)

In [6]:
# Tecnicas de machine learning siempre son muy sensibles a scaling
means = np.mean(x_train_temp, axis=0) # tomo la media
stds = np.std(x_train_temp, axis=0) # divido por la desviacion estandard
 
x_train = (x_train_temp - means)/stds # al restar el promedio y dividir por la desviacion estandard -> data -1 y +1
x_test = (x_test_temp - means)/stds # al restar el promedio y dividir por la desviacion estandard -> data -1 y +1
print("ready")

ready

# Neural Network en 4 pasos

### Paso 1: Importamos el modelo que queremos usar.

In [7]:
from sklearn.neural_network import MLPClassifier
print("ready")

ready

### Paso 2: Creamos una variable de clase neural network

In [8]:
#mlp = MLPClassifier()
mlp = MLPClassifier(hidden_layer_sizes=(200,2),activation='relu') # 2 capas de 200 nauronas
#parameters = {'hidden_layer_sizes': [(10,), (50,), (100,)],'activation': ['relu', 'tanh', 'logistic'],'learning_rate': ['constant', 'invscaling', 'adaptive']}
print("ready")

ready

### Paso 3: Entrenamos el modelo basado en la data

In [12]:
modelo_nn= mlp.fit(x_train, y_train)
print("ready")

ready

### Paso 4: Predecimos usando el modelo entrenado

In [14]:
predictions = modelo_nn.predict(x_test)
print("ready") # revisa si termino el codigo (rstc)

ready

In [15]:
predictions

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

# Revisando la precision de nuestra neural network

In [17]:
# Use score method to get accuracy of model
score= modelo_nn.score(x_test,y_test)
print("Precision: ",score)

Precision:  0.8552631578947368

* Precision = # predichas correctamente /(# predichas correctamente + # predichas incorrectamente)*

# Como demuestro que es cierto lo que me dice el software

In [14]:
predictions
mlp.predict(x_test.iloc[0].reshape(1,130))
x_test.iloc[0]

AttributeError: 'Series' object has no attribute 'reshape'

In [15]:
# original
y_test.iloc[0]

0

In [96]:
correcto=0
incorrecto=0
for i in range(len(x_test)):
    mypred=mlp.predict(x_test.iloc[i].reshape(1,13))
    if mypred==y_test.iloc[i]:
        correcto=correcto+1
    else:
        incorrecto=incorrecto+1
print(correcto/(incorrecto+correcto))

0.868421052631579

In [97]:
correcto

66

In [98]:
incorrecto

10

## FIN